.insurance {
  padding: 1rem;

  h2 {
    margin-bottom: 50px;
  }
  h4 {
    margin-top: 30px;
  }
  .form-group:after {
    top:105px;
  }
  .form-group.pAmount:after {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .form-group input{
    width: 30rem;
    height: 50px;
  }
  .input-group-addon
  {
    background-color:#FFF;
  }
}

//mobile portrait

@media screen and (min-device-width: 301px) and (max-device-width: 770px)
and (orientation: portrait) {
  .insurance {
    h2 {
      margin-bottom: 10px;
    }
    .form-group input {
      width: 100%;
    }
    .form-group:after {
      top: 45px;
    }
  }
}

//mobile landscape

@media (min-width:300px) and (max-width:780px) and (orientation: landscape) {
  .insurance {
    h2 {
      margin-bottom: 10px;
    }
    .form-group select.form-control, .form-group input.form-control {
      width: 50%;
    }
    .form-group:after {
      top: 45px;
      right: 27%;
    }
    .form-group input.form-control {
      margin-top: 20px;
      margin-left: 23%;
    }
  }
}

//ipad portrait

@media only screen and (device-width: 768px) and (orientation : portrait) {
  .insurance {
    .form-group:after {
      top: 106px;
    }
  }
}

//small screen

@media only screen and (min-width: 100px ) and (max-width: 300px) {
  .insurance {
    h2 {
      margin-bottom: 10px;
    }
    .form-group input {
      width: 100%;
    }
    .form-group:after {
      top: 64px;
    }
  }
}
