.insurance {
  h2 {
    margin-bottom: 50px;
  }
  h4 {
    margin-top: 30px;
  }
  .form-group:after {
    top:105px;
  }
  .form-group.pAmount:after {
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .form-group input{
    width: 30rem;
    height: 50px;
  }
  .input-group-addon
  {
    background-color:#FFF;
  }
  button {
    position: absolute;
    bottom: 50px;
    right: 45%;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 450px)
and (orientation: portrait) {
  .insurance {
    padding: 1rem;
    h2 {
      margin-bottom: 10px;
    }
    .form-group input {
      width: 100%;
    }
    .form-group:after {
      top: 45px;
    }
    button {
      right: 38%;
      bottom: 6rem;
    }
  }
}

@media only screen and (device-width: 768px) and (orientation : portrait) {
  .insurance {
    button {
      bottom: 40rem;
    }
  }
}
