.header {
  ul {
    margin-top: 30px;
    li {
      margin-right: 50px;
      span {
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 450px)
and (orientation: portrait) {
  .header {
    padding: 1rem;
    ul {
      margin-top: 10px;
      li {
        margin-right: 5px;
      }
    }
  }
}
