<div ng-controller="HeaderController">
<div class="row header">
  <div class="col-xs-12 col-lg-push-1">
    <h3>Your Information</h3>
    <ul class="list-inline list-unstyled" ng-cloak>
      <li>Car:  <span><a href="#/car-details">{{selectedCarDetails.year}} {{selectedCarDetails.make}} {{selectedCarDetails.model}}</a></span></li>
      <li>State:  <span><a href="#/state">{{selectedStateHeader.name}}</a></span></li>
      <li>Insurance Company:  <span><a href="#/insurance">{{selectedInsuranceDetails.insuranceCompany.name}}</a></span></li>
    </ul>
  </div>
</div>
</div>
