.save {
  padding: 2rem;
  margin-left: 15%;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h5 {
    margin-left: -10px;
    font-weight: bold;
  }
  form {
    .form-group select.form-control {
      margin-top: 20px;
    }
    .form-group:after {
      top: 45px;
      right: 200px;
      padding: 0 15px 2px;
    }
    .form-group.checkbox-group:after {
      display: none;
    }
    .wrapper {
      display: flex;
      display: -webkit-flex;
      align-items: flex-start;
      width: 100%;
      label.checkbox-inline {
        margin: 10px 45px 10px -10px;
        padding-left: 0;
      }
    }
    input[type=checkbox] {
      display: none;
      cursor: pointer;
    }
  }
  .animate-if {
    background:white;
    padding:10px;
  }

  .animate-if.ng-enter, .animate-if.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  .animate-if.ng-enter,
  .animate-if.ng-leave.ng-leave-active {
    opacity:0;
  }

  .animate-if.ng-leave,
  .animate-if.ng-enter.ng-enter-active {
    opacity:1;
  }
  .premium-box {
    border: 1px solid $mediumGray;
    background-color: #59DA9A;
    width: 23rem;
    padding: 10px;
    margin-left: 65px;
    margin-top: 20px;
    text-align: center;
    color: white;
    h2 {
      color: darkred;
      font-weight: bold;
    }
  }
  .pop-up-box {
    background-color: orange;
    width: 84rem;
    padding: 20px;
    margin-top: 50px;
    button {
      width: 200px;
      margin-bottom: 10px;
    }
    button a {
      color: white;
    }
  }
  }

