<div ng-controller="SaveController">
  <logo-header></logo-header>
  <cal-header></cal-header>
  <div class="row save">
    <h2>Try how much you could save</h2>
    <form>
      <div class="col-xs-4">
        <div class="form-group">
          <h5>Select another insurance company</h5>
          <select class="form-control" ng-model="anotherInsuranceComp" ng-options="insuranceComp.name for insuranceComp in insuranceCompanies" ng-init="anotherInsuranceComp = false" ng-required="true" required>
            <option value="">Select</option>
          </select>
        </div>
        <!--ng-hide-->
        <div class="animate-if" ng-if="anotherInsuranceComp">
          <div class="form-group">
            <h5>Check discount to see the possible savings</h5>
            <div class="form-inline">
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="multipleDrivers" ng-change="getDiscount(0.2*fAmount, multipleDrivers);"> Multiple Drivers
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox2" value="option2" ng-model="goodGPA" ng-change="getDiscount(0.05*fAmount, goodGPA)"> Good GPA
                </label>
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox"  value="option3" ng-model="noAccidents" ng-change="getDiscount(0.15*fAmount, noAccidents)"> No Accidents
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox"  value="option3" ng-model="yearsExperience" ng-change="getDiscount(0.10*fAmount, yearsExperience)"> 10+ Years of Experience
                </label>
              </div>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox"  value="option3" ng-model="plusFamily" ng-change="getDiscount(0.05*fAmount, plusFamily)"> 5+ Family
                </label>
              </div>
              <div class="form-group">
                <label class="checkbox-inline">
                  <input type="checkbox"  value="option3" ng-model="airBag" ng-change="getDiscount(0.01*fAmount, airBag)"> Air Bag
                </label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
    <div class="col-xs-6 pull-right">
      <div class="premium-box">
        <h3>Your Premium</h3>
        <h4 ng-cloak>{{premiumAmount.amount}}</h4>
        <p>Annually</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="pop-up-box">
          <h5>This calculator shows approximate values</h5>
          <h5>You could actually be paying even less for your insurance</h5>
          <p><a href="http://illinoisinsurance.com/quote_inhouse.html?lead_type=auto">Use our comparison tool for free and get offer matched exactly to your needs in less than 2 minutes</a></p>
          <button type="button" class="btn btn-primary" id="get_quotes"><a href="http://illinoisinsurance.com/quote_inhouse.html?lead_type=auto">Compare Real Quotes Now</a></button>
          <p>(Other people save up to 23% on average)</p>
        </div>
      </div>
    </div>
  </div>
</div>

