<div ng-controller="SaveController">

<cal-header></cal-header>
<div class="row save">
  <h1>Try how much you could save</h1>
  <form>
  <div class="form-inline">
    <div class="col-xs-6">
      <h3>Select another insurance company</h3>
      <select class="form-control" ng-model="selectedInsuranceCompany" ng-required="required" required>
        <option value="">{{data.option5}}</option>
        <option ng-repeat="insuranceCompany in insuranceCompaies">{{insuranceCompany.name}}</option>
      </select>
    </div>
    <div class="col-xs-6 pull-right">
      <div class="premium-box">
        <h2>Your Premium</h2>
        <h6>{{premiumAmount | currency}}</h6><p>Annually</p>
      </div>
    </div>
  </div>
  </form>
  </div>
</div>

