.save {
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  form {
    .form-group select.form-control {
      margin-top: 20px;
      width: 80%;
    }
    .form-group:after {
      top: 45px;
      right: 21%;
      padding: 0 15px 2px;
    }
    .form-group.checkbox-group:after {
      display: none;
    }
    .wrapper {
      display: flex;
      display: -webkit-flex;
      align-items: flex-end;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 2%;
      label.checkbox-inline {
        margin: 10px 45px 10px -10px;
        padding-left: 0;
      }
    }
    input[type=checkbox] {
      display: none;
      cursor: pointer;
    }
  }
  .premium-box {
    border: 1px solid $mediumGray;
    background-color: #59DA9A;
    width: 23rem;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: white;
    h2 {
      color: darkred;
      font-weight: bold;
    }
  }
  .pop-up-box {
    background-color: orange;
    padding: 20px;
    margin-top: 50px;
    button.quote-btn {
      width: auto;
      margin-bottom: 10px;
    }
    button.quote-btn a {
      color: white;
    }
  }
  }


//mobile portrait

@media screen and (min-device-width: 321px) and (max-device-width: 550px)
and (orientation: portrait) {
  .save {
    padding: 0;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 21px;
    }
    h4 {
      font-size: 16px;
      margin-left: -5%;
    }
    form {
      .wrapper {
        align-items: baseline;
        flex-direction: column;
        margin-left: 4%;
        label.checkbox-inline {
          font-size: 12px;
          width: 100%;
        }
      }
      .form-group {
        margin-bottom: 10px;
        select.form-control {
          width: 100%;
        }
      }
      .form-group:after {
        right: 1%;
        top: 43px;
      }
    }
    .animate-if {
      padding: 5px;
    }
    .premium-box {
      margin-top: 15px;
      margin-bottom: 15px;
      width: 100%;

    }
    .pop-up-box {
      margin-top: 10px;
    }
  }
}

//mobile landscape

@media (min-device-width:550px) and (max-device-width:750px) and (orientation: landscape) {
   .save {
     form {
       .form-group:after {
         right: 0;
       }
       .form-group select.form-control {
         margin-left: 0;
         width: 100%;
       }
     }
     //.premium-box {
     //  margin-left: 14%;
     //}
   }
}

//iphone 5 mobile

@media only screen and (device-width : 320px) and (orientation : portrait) {
  .save {
    padding: 0;
    h2 {
      font-size: 18px;
    }
    h4 {
      font-size: 13px;
    }
    form {
      .form-group:after {
        top: 40px;
        right: 1%;
      }
      .form-group select.form-control {
        font-size: 12px;
        width: 100%;

      }
    }
    .premium-box {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

//iphone 5 landscape

@media only screen and (device-width : 568px) and (orientation : landscape) {
   .save {
     form {
       .form-group select.form-control {
         width: 100%;
       }
     }
   }
   }

//ipad

@media only screen and (device-width: 768px) and (orientation : portrait) {
  .save {
    form {
    .form-group select.form-control {
      width: 100%;
    }
    .form-group select.form-control {
      width: 100%;
    }
    .form-group:after {
      top: 0;
    }
  }
}

@media only screen and (device-width: 1024px) and (orientation : landscape) {
  .save {
    form {
      .form-group select.form-control {
        width: 100%;
      }
      .form-group:after {
        left: 88%;
      }
    }
    .premium-box {
      margin-left: 20%;
    }
  }
}

//small screen

@media only screen and (min-width: 100px) and (max-width: 319px) {
  .save {
    padding: 0;
    form {
      .form-group select.form-control {
        width: 100%;
      }
      .form-group:after {
        top: 63px;
        right: 1%;
      }
    }
  }
}
