/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$darkBlue:          #2a373d;
$mediumBlue:        #0b4f6c;
$lightBlue:         #01baef;
$lightBlueHover:    darken($lightBlue,5%);
$white:             #fff;
$whiteDarker:       darken($white,10%);
$headerGray:        #bbbbbb;
$darkBlueBorder:    #354147;
$mediumGray:        #d7d7d7;
$lightGray:         #fbfbfb;
$black:             #161615;
$green:             #20bf55;
$greenHover:        darken($green,5%);
$lightGreen:        #f2fff6;
$borderGray:        #ddd;
$selectBlue:         #00BBF0;

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;

$font-main:     'Lato', sans-serif;
$font-extra:    'Roboto', sans-serif;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.428571429;
  color: #333333;
  margin: 0;
}
  .form-group {
    position: relative;
  }
  .form-group:after {
    content: '>';
    font: 30px "Consolas", monospace;
    color: $selectBlue;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 3px;
    /*Adjust for position however you want*/
    top: 56px;
    padding: 0 0 2px;
    border-bottom: 1px solid $selectBlue;
    width: 48px ;
    /*left line */

    position: absolute;
    pointer-events: none;
  }
  .form-group {
    select::-ms-expand { /* for IE 11 */
      display: none;
    }
    select.form-control, input.form-control {
      margin-top: 50px;
      height: 50px;
      padding: 5px 10px;
      border: 1px solid $selectBlue;
      font-size: 16px;
      width: 30rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      text-align: center;
   }
    .select.form-control option {
      background-color: $selectBlue;
    }
  }

  button.btn {
    background-color: $selectBlue;
    color: white;
    width: 100px;
    border-radius: 5px;
  }
  button.btn:hover {
    background-color: #1ba392;
    color: white;
  }


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
