/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$darkBlue:          #2a373d;
$mediumBlue:        #0b4f6c;
$lightBlue:         #01baef;
$lightBlueHover:    darken($lightBlue,5%);
$white:             #fff;
$whiteDarker:       darken($white,10%);
$headerGray:        #bbbbbb;
$darkBlueBorder:    #354147;
$mediumGray:        #d7d7d7;
$lightGray:         #fbfbfb;
$black:             #161615;
$green:             #20bf55;
$greenHover:        darken($green,5%);
$lightGreen:        #f2fff6;
$borderGray:        #ddd;
$selectBlue:         #00BBF0;

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px;

$font-main:     'Lato', sans-serif;
$font-extra:    'Roboto', sans-serif;

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

//basic style

body {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.428571429;
  color: #333333;
  margin: 0;
  overflow-x: hidden;
}
  .car-details, .save, .insurance, .state, .header {
    padding: 2rem;
  }
  .form-group {
    position: relative;
  }
  .form-group:after {
    content: '>';
    font: 30px "Consolas", monospace;
    color: $selectBlue;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 0;
    /*Adjust for position however you want*/
    top: 56px;
    padding: 0 0 2px;
    border-bottom: 1px solid $selectBlue;
    width: 48px ;
    /*left line */

    position: absolute;
    pointer-events: none;
  }
  .form-group {
    select::-ms-expand { /* for IE 11 */
      display: none;
    }
    select.form-control, input.form-control {
      margin-top: 50px;
      height: 50px;
      padding: 5px 10px;
      border: 1px solid $selectBlue;
      font-size: 16px;
      width: 30rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      text-align: center;
   }
  }
  button.btn {
    background-color: $selectBlue;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
  }
  button.btn:hover {
    background-color: #1ba392;
    color: white;
  }

  //extra classes

  .spacer-10 {
    height: 10rem;
  }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

  //custom form validation

.animate-if {
  background:white;
  padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}


@media screen and (min-device-width: 100px) and (max-device-width: 760px)
and (orientation: portrait) {
  h2 {
    font-size: 25px;
  }
  .form-group select.form-control, .form-group input.form-control {
      width: 100%;
      margin-top: 20px;
      font-size: 12px;
    }

  .form-group:after {
    top: 6px;
    right: 0;
  }
}

//mobile landscape

@media (min-width:100px) and (max-width:760px) and (orientation: landscape) {
  h2 {
    font-size: 25px;
  }
  .form-group:after {
    top: 11%;
    right: 27%;
  }
  .form-group select.form-control {
    width: 50%;
    margin-left: 23%;
    margin-top: 20px;
    font-size: 12px;
  }
  button {
    right: 40%;
  }
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
