<div ng-controller="CarDetailsController">
<div class="row text-center marginTop-10">
  <div class="col-xs-12">
    <h1>Select your car details</h1>
  </div>
</div>
<div class="row car-details text-center">
  <form id="carDetailsForm" name="carDetailsForm" ng-submit="goTo()">
    <div class="form-inline">
      <div class="col-xs-4">
        <select class="form-control" id="carYear" name="car_year" ng-model="selectedCarYear" ng-options="carYear for carYear in carYears" ng-required="true" ng-change="getCarMake();" required>
          <option value="">--Select Car Year--</option>
        </select>
      </div>
      <div class="col-xs-4">
        <select class="form-control" id="carMake" name="car_make" ng-model="selectedCarMake" ng-change="getCarModel()" ng-required="true" required>
          <option value="">--Select Car Make--</option>
          <option ng-repeat="carMake in carMakes" ng-cloak>{{carMake.name}}</option>
        </select>
      </div>
      <div class="col-xs-4">
        <select class="form-control" id="carModel" name="car_model" ng-model="selectedCarModel" ng-required="true" required>
          <option value="">--Select Car Model</option>
          <option ng-repeat="carModel in carModels" ng-cloak>{{carModel.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-4 pull-right">
      <button type="submit" class="btn btn-default" ng-submit="goTo()">Next</button>
    </div>
  </form>
</div>
</div>
