.state {
  padding: 2rem;
  .form-group select.form-control {
    margin-top: 90px;
  }
  .form-group:after {
    top: 96px;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 45%;
  }
}
