<div ng-controller="StateController">
  <logo-header></logo-header>
  <div class="state">
<div class="row text-center">
  <div class="col-xs-12">
    <h1>Which State Do You Currently Live in?</h1>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-12">
    <form id="stateForm" name="stateForm" ng-submit="goTo(stateForm.$invalid)" novalidate>
  <div class="form-inline">
    <div class="form-group" ng-class="{'has-error' : stateForm.usState.$invalid && stateForm.usState.$dirty}">
    <select class="form-control" name="usState" ng-model="selectedState" ng-options="usState.name for usState in usStates" ng-required="true" required>
        <option value="">Select Your State</option>
      </select>
      <p ng-show="stateForm.usState.$invalid && stateForm.usState.$dirty">This field is required</p>
    </div>
    </div>
      <button class="btn btn-lg" type="submit" ng-click="goTo(stateForm.$invalid)" ng-disabled="stateForm.$invalid">Next</button>
    </form>
  </div>
</div>
  </div>
</div>
