.state {
  .form-group select.form-control {
    margin-top: 90px;
  }
  .form-group:after {
    top: 96px;
  }
}

//mobile portrait

@media screen and (min-device-width: 100px) and (max-device-width: 770px)
and (orientation: portrait) {
  .state {
    .form-group:after {
      top: 6px;
    }
    .form-group select.form-control {
      margin-top: 30px;
    }
  }
}

//mobile landscape

@media (min-width:100px) and (max-width:780px) and (orientation: landscape) {
  .state {
    .form-group:after {
      top: 12%;
      right: 27%;
    }
  }
}

