.state {
  .form-group select.form-control {
    margin-top: 90px;
  }
  .form-group:after {
    top: 96px;
  }
  button {
    top: 25rem;
    position: absolute;
    right: 45%;
  }
}

@media screen and (min-device-width: 300px) and (max-device-width: 450px)
and (orientation: portrait) {
  .state {
    .form-group:after {
      top: 6px;
      right: 0;
    }
    .form-group select.form-control {
      margin-top: 30px;
    }
    button {
      right: 35%;
      top: 15rem;
    }
  }
}
